<!DOCTYPE html>
<html>
  <head>
    <title>CocoDiaryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<style>
  html,body {
    heigth: 100%;
    background-color: rgb(61, 223, 245);
  }
</style>
